/* Import Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* variaverl de cor */
:root {
  --primaria-vinho: #74213C;
  --secundaria-cinza: #75777A;
}

/* Deixando padrão */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}

/* Para que Sidebar fique na esquerda e o conteúdo na direita */

.layout-sistema {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.conteudo-sistema {
  flex: 1;
  background-color: #ffffff;
  overflow-y: auto;
  height: 100%;
}